*{
  font-family: 'Work Sans', sans-serif;
 
}
:root{
    --primary-color: #131313;
}
body{
    margin:0 ;
    padding: 0;
}

/*-----------------
   Header-styles 
------------------*/
.menu-bar{
    background-color: rgba(255, 144, 14, 0.1);
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
 text-align: center;
 font-weight: 500;
 font-size: 18px;
}
.anchor{
    text-decoration: none;
    color: #424242;
    padding: 20px ;
}
.header-title{
    color:var(--primary-color);
    font-weight: 600;
    font-size: 30px;
}

/* banner-part */
.banner{
    text-align: center;
    margin: 50px 240px;
    padding-bottom: 45px;

}
.banner-title{
    color:var(--primary-color);
    font-weight: 700;
    font-size: 3em;
    margin: 20px 0;
}
.banner-desc{
    color:#727272;
    font-weight: 400;
    font-size: 16px;
}
.btn-explore{
    color: #ffffff;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
    margin: 32px 0;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    
     
}

/*---------------
   Section-One
----------------- */
.section-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 130px;
}
.album{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:24px ;
    margin-left: 160px;
    

}
.album-info{
 text-align: left;
 justify-content: center;
 margin-left: 100px;
 margin-right: 200px;
 
}
.album-title{
    color: #727272;
    font-size: 45px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0;
}
.album-desc{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

/*----------------
   Section-Two
----------------*/
.section-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    
}
.features{
  align-items: center;
  justify-content: center;
  margin:10px 80px 30px 150px ;
}
.feat-title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    text-align: left;
    border-left:5px solid  #FF900E;
}
.feat-desc{
    color: #727272;
    text-align: left;
}
/* feat  */
.feat-info-details{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 5px 20px;
    margin: 10px;
}
.feat-info-title{
    color: var(--primary-color);
    margin: 10px 0;
}
.feat-info-desc{
    color:#727272;
    margin: 0;
}
.feat-img{
    margin-right: 150px;
}
.btn-10year{
    color: #FFFFFF;
    background-color:#FF900E;
    border: none;
    font-weight: 500;
    font-size: 20px;
   border-radius: 8px;
   padding: 30px 30px;
   margin-top: -90px;
   margin-left: -70px;
}
.btn-10year:hover{
    transform: scale(1.2);
    transition:transform 2s ;
}

/*----------------
  Section-Three
-----------------*/
.facts{
    text-align: left;
    margin-left: 150px;
}
.facts-title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.facts-desc{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-right: 650px;
    margin-bottom: 0;
}
.facts-list{
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-gap: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    
}
.facts-info{
   border: 1px solid#FF900E;
   margin-top: 100px;
   border-radius: 8px;
   padding-top: 10px;
}
.facts-info:hover{
    transform: rotate(360deg);
     transition: transform 2s ;
}
.number{
    color: #424242;
}
.massage-for{
    color:#727272;
}

/*----------------
  Section-four 
-----------------*/
.sponsors{
    text-align: center;
}
.spon-title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    margin-top: 110px;
    margin-bottom: 24px;
}
.spon-desc{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin: 0 400px;
    margin-bottom: 40px;

}
.sponsors-logo{
    display: grid;
    grid-template-columns: repeat(5, 140px);
    grid-column-gap:90px ;
    justify-content:center;
    align-items: center;
    

}
.sponsors-logo> img{
    color: #131313;
}
/*----------------
   Section-Five
----------------*/
.section-five{
    margin:100px 0px ;
  }
.team-info{
    text-align: center;
  }
.team-title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.team-desc{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.team-images{
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 10px;
}
.team-images>img{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
/*----------------
   section-Six
-----------------*/
.contracts{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 144, 14, 0.1) ;
    gap:100px;
    padding: 40px 120px;
    margin: 100px 150px 0;
}
.contract-title{
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.contract-title{
    text-align: left;
}
.contract-desc{
    color:  #727272;
    margin-bottom: 30px;
    
}
.icons{
    display: flex;
    text-decoration: none;
    gap: 12px;
}
.contract> input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
/* Sob to thik ache,tobuo name er input kaj korche na, kno? */
}
.btn-submit{
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 40px;
}
/*-------------
   Footer 
-------------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none ;
    background: #FFF4E7;
    color: #424242;
    border-radius: 8px;
    padding: 30px 0;
    margin: 100px 150px 100px;
}

/*-----------------
   Media-Queries
------------------*/
@media only screen and (max-width:576px){
    body,html{
        width:100%;
        margin: 0;
        padding: 0;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 40px;
    }
    .nav{
        margin: 0;
        padding: 0;
    }
    .anchor{
        padding:5px;
        margin: 0;
    }
    .banner{
     margin: 0;
    }
    .banner-title{
        margin: 0;
        padding-top:20px;
        padding-bottom: 20px;
    }
    .banner-desc{
        margin:0;
        padding: 20px;
    }
    .banner-img>img{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .btn-explore{
        margin-top:0;
    }
/* section-one */
    .section-one{
        flex-direction: column-reverse;
        margin: 0;
    }
    .album{
        margin:0;
        padding: 20px;
    }
    .album>img{
        width: 100%;
        height: 100%;
    }
    .album-info{
        margin: 0;
        padding: 20px;
    }

/* section-Two  */
    .section-two{
        flex-direction: column;
    }
    .features{
        margin: 0;
        text-align: center;
        padding: 20px;
    }
    .feat-img{
        margin: 0;
    }
    .feat-img>img{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .btn-10year{
        margin:0;
        margin-top: -90px;
    }
/* Section-three */
    .facts{
        margin:0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .facts-desc{
        margin:0;
    }
    .facts-list{
        display: grid;
        grid-template-columns: repeat(2, 140px);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        margin:40px 0;   
    }
    .facts-info{
        margin: 0;
    }
    .facts-info:hover{
        transform: rotate(360deg);
        transition: transform 2s ;
    }
/* Section-four  */
    .sponsors{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .spon-title{
        margin: 0;
        padding: 20px;
    }
    .spon-desc{
        margin: 0 ;
        margin-bottom: 30px;
        padding: 20px;
    }
    .sponsors-logo{
        grid-template-columns: repeat(2, 100px);
        gap: 50px;
        padding: 20px;
    }
/* section-five */
    .team-info{
        margin: 0;
        padding: 20px;
    }
    .team-images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        row-gap: 10px;
        margin-bottom: 50px;
    }
    .team-images>img{
        width: 100%;
        height: 100%;
    }
/* section-six */
    .contracts{
        flex-direction: column;
        padding: 20px;
        margin:0;
        row-gap: 20px;
    }
    .contract input[type="text"], input[type="email"], textarea{
        padding: 10px 0 10px 5px;  
     }
/* Footer  */
    .footer{
        width: 100%;
        margin: 0;
        text-align: center;
    }
}
